@import url('bootstrap/css/bootstrap.css');
@import url('bootstrap/fonts/flaticon.css');
@import url(http://fonts.googleapis.com/css?family=Comfortaa:300);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@font-face {
    font-family: 'bebas_neueregular';
    src: url('bootstrap/fonts/bebasneue-webfont.eot');
    src: url('bootstrap/fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
        url('bootstrap/fonts/bebasneue-webfont.woff2') format('woff2'),
        url('bootstrap/fonts/bebasneue-webfont.woff') format('woff'),
        url('bootstrap/fonts/bebasneue-webfont.ttf') format('truetype'),
        url('bootstrap/fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


*{
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus{
    outline-style:none!important;
    box-shadow:none!important;
    border-color:#e02126!important;
}

body{
    border-top:4px solid #e02126;
    border-bottom:4px solid #e02126;
    background-color:black;
}

.main{
    background-color:white;
}

.container{
    background:white;   
}

.container-fluid {
    padding:0;
    margin-right: auto;
    margin-left: auto;
}

.header_ban{
    padding: 0!important;
}

/******************************/
/*          ACCESS           */
/******************************/

#pre-nav{
    width:100%; 
    background:white;
    line-height: 50px;
    /* text-align: center;*/
}

#pre-nav a{
    color:#2b425c;   
    text-decoration: none;
}

#pre-nav a:hover{
    color:#e02126;
}

#don-soutien img{
    width:14%;
    margin-right: 5px;
}

#don-soutien a{
    font-weight: 900;
    margin-right: 20px;
    font-family: 'Comfortaa'!important;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 2.8em;
    font-style: normal;
    margin-right: 10px;
    vertical-align: middle;
}

.flaticon-headphone4{
    margin-right:-15px!important;
}

.form-control{
    margin-top:8px;
    border: 2px solid #2b425c;
    color:black;
}

.btn-default,.btn-default:focus,.btn-default:active {
    color: white;
    background-color: #2b425c;
    border-color: #2b425c;
}

.btn-default:hover {
    color: white;
    background-color: #e02126;
    border-color: #e02126;
}

input:focus, textarea:focus, keygen:focus, select:focus {
    outline-offset: -2px;
}

button:focus {outline:0 !important;}

.ui-autocomplete{
    width: 200px;
}

.ui-widget-content {
    border: 2px solid #e02126!important;
    border-top:none!important;
}

.ui-menu-item{
    border-bottom:2px solid #2b425c;
    padding:10px!important;
    font-size:12px;
    font-weight: lighter;
}

.ui-menu-item:last-child{
    border-bottom: 0px;
}

.ui-menu-item:hover,.ui-menu-item:focus,.ui-menu-item:active{
    background:#e02126!important;
    color:white!important;
    border-bottom:2px solid #2b425c!important;
}

@media screen and (max-width:992px){
    #pre-nav{
        text-align: center;
    }

    #don-soutien{
        width: 50%;
        display: inline;
    }

    #don-soutien img{
        width:8%!important;
        margin-right: 5px;
    }

    #mediatheque{
        width: 50%;
        display: inline;
    }
    [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
        font-size: 4em!important;
    }
}

@media screen and (max-width:550px){
    #don-soutien{
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }
    #mediatheque{
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

    #recherche{
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
    #don-soutien img {
        width: 20%!important;
        margin-top:15px !important;
        margin-left: 8px!important;
        margin-right: 8px!important;
    }
    #don-soutien a {
        margin-right: 10px!important;
    }
    [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
        font-size: 3.5em!important;
    }
}


/************FIN_ACCESS******************/


/******************************/
/*           MENU >768px      */
/******************************/

@media screen and (min-width:768px){

    #menu-primary{
        width:100%;
        text-align: center;
        font-size:13px;
        font-weight: bold;
    }

    .collapse{
        padding:0;
    }

    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background-color:  transparent;
    }

    .dropdown-toggle:hover .dropdown-menu {
        display: block;
    }

    #menu ul{
        border:none;
    }

    #menu li{
        position:relative;
        display:block;
        background: #e02126!important;
        width:12.5%;
        border-left:1px solid white;
        border-right:1px solid white;
    }

    #menu li:hover,#menu li:active,#menu li:focus{
        background: #2b425c !important;
    }

    #menu li li{
        background: #2b425c !important;
        margin-left:-2px;
        border-left:2px solid white;
        border-bottom:2px solid white;
        border-top:0px;
        border-right: 1px;
    }

    #menu li li:first-child{
        border-top:2px solid white;
    }

    #menu li li:hover{
        background: #4a763f !important;
    }

    #menu li li li{
        background: #4a763f !important;
        margin-left:2px;
        border-left:0px;
        border-bottom:4px solid white;
        border-top:0px;
        border-right: 2px solid white;
        margin-top:-2px;

    }

    #menu li li li:last-child{
        border-bottom:2px solid white;
    }

    #menu li li li:hover{
        background: #555555 !important;
    }
    #menu li li li li{
        background: #555555 !important;
        border-right:2px solid white;
    }

    #menu li li li li:first-child{
        border-top:2px solid white;
    }

    #menu li li li li:hover{
        background: black !important;
    }

    #menu a{
        display:block;
        color:white;
        text-decoration:none;
        padding:0px;
        line-height:50px;
    }

    #menu a:hover{
        background: none;
    }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        background-color: #2b425c;
    }
    #menu ul li:hover > ul{display:block;}
    /* Sous-menu 1 */
    #menu ul ul{
        position:absolute;
        left:0;
        top:50px;
        z-index:99999;
        display:none;
        float:left;
        font:lighter 10pt Arial, Helvetica, sans-serif;
    }
    #menu ul ul li{
        width:100%;
    }
    /* Sous-menu 2 */
    #menu ul ul ul{left:100%; top:0;}
    #menu ul ul a{
        line-height:1em;
        padding:10px;
        height:auto;
    }
    .dropdown-menu{
        padding:0;
        margin:0;
    }
    button{
        display: none;
    }
    @media screen and (max-width:1200px){
        #menu-primary{
            font-size:11px;
        }
        #menu ul ul{
            font:lighter 8pt Arial, Helvetica, sans-serif;
        }
    }

    @media screen and (max-width:992px){
        #menu-primary{
            font-size:9px;
        }
        #menu ul ul{
            font:lighter 7pt Arial, Helvetica, sans-serif;
        }

    }
}

/************FIN_MENU >768px*************/

/******************************/
/*           MENU <768px      */
/******************************/

@media screen and (max-width:768px){

    #menu-primary{
        width:100%;
        text-align: center;
        font-size:20px;
        font-weight: bold;

    }

    .navbar-nav {
        margin:0!important;
    }

    #accessibilite{
        display: none;
    }

    .dropdown-menu{    
        padding-bottom: 0px;
        padding-top: 0px;

    }

    .navbar-collapse{
        padding-right: 0px;
        padding-left: 0px;
    }

    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background-color:  transparent;
    }
    .menu-item{
        border-top:4px solid white;
    }

    #menu li{
        position:relative;
        display:block;
        background: #e02126!important;
        width:100%;
    }

    #menu li li{
        background: #2b425c !important;
        width:90%;
        margin:auto;
    }

    #menu li li a{
        width:100%;
        text-align:center;
    }

    #menu li li li{
        background: #4a763f !important;
    }

    #menu li li li li{
        background: #555555 !important;
    }
    #menu li li li li:hover{
        background: black !important;
    }

    #menu a{
        display: inline-block;
        color:white;
        text-decoration:none;
        width:100%;
        line-height:50px;
        padding:0;
    }

    #menu-primary li a:hover{
        font-size:26px;
    }

    .dropdown-menu li a{
        font-weight: bold;
        font-size:13px!important;
    }

    .dropdown-menu li a:hover{
        font-size:16px!important;
    }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        background-color: #e02126;
    }

    .navbar-header{
        background: #2b425c;
    }

    .navbar-default .navbar-toggle {
        border-color: white;
    }

    .navbar-toggle {
        border: 2px solid transparent;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: white;
    }

    .navbar-toggle:hover,.navbar-toggle:focus,.navbar-toggle:active {
        background: white!important;
    }

    .navbar-toggle:hover .icon-bar,.navbar-toggle:focus .icon-bar,.navbar-toggle:active .icon-bar {
        background: red!important;
    }

    a.navbar-brand{
        color:white !important;
        width:90% !important;
        text-align:center;
        font-size:30px;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing:5px;
    }

    @media screen and (max-width:610px){
        a.navbar-brand{
            width:80% !important;
            font-size:20px;
            letter-spacing:3px;

        }
    }

    .navbar-nav .open .dropdown-menu {
        background-color: white;
    }

    @media screen and (max-width:768px){
        li .btn-nav{
            position:absolute;
            left:0;
            top:0;
            height: 50px;
            width: 40px;
            z-index:99999;
            background:transparent;
            color:white;
            border:none;

        }

        .dropdown-menu .btn-nav{
            position:absolute;
            left:0;
            top:0;
            height: 50px;
            width: 40px;
            z-index:99999;
            background: transparent;
            color:white;
            border:none;

        }
    }
}

/************FIN_MENU <768px*************/

/******************************/
/*    Affiche des articles    */
/******************************/
.article_image{
    width: 100%;
    height:150px;
    background: no-repeat;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    filter: blur(2px);
    background-position:top;
}

.article_image:hover{
    opacity:0.8;
    filter: blur(10px);
}

.article_container{
    height:300px;
    margin-bottom: 20px;
    -moz-box-shadow: 0px 0px 5px 0px #000000;
    -webkit-box-shadow: 0px 0px 5px 0px #000000;
    -o-box-shadow: 0px 0px 5px 0px #000000;
    box-shadow: 0px 0px 5px 0px #000000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=6);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    border:1px solid #7c7c7c;
}

@media screen and (max-width:350px){
    .article_container{
        height:365px!important;
    }
}

.article_container h1{
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 22px;
}

.hyphenate a{
    color:#2b425c;
    font-weight:bold;
}

.hyphenate a:hover{
    color:#e02126;
}

.titre-art-left{
    padding-left: 5px;
}

.titre-art-right{
    padding-right: 5px;
}

.article_desc{
    width: 95%; 
    margin: 0 auto;
}

.titre-article{
    margin:0!important;
}

.article_display{
    display: none;
    width:100%;
    text-align:center;
    height:100%;
    line-height: 150px;
    background-color: rgba(0,0,0,0.8);
    color:white!important;
    font-weight: 700!important;
    font-size:1.8em!important;
    text-decoration: none!important;
}

.article_container a:hover{
    text-decoration:none!important;
}

.article_image:hover .article_display{
    display: block;
}

.date{
    margin:0!important;
    padding-left:15px;
    font-weight: bold;
    padding-bottom:10px;
}

.separator{
    width: 100%;
    height:2px;
    background-color:black;
    margin:0 auto;
    opacity: 0.4;
    margin-bottom: 10px;
}

.cellule{
    width:25px;
    height:25px;
    margin-top: 13px;
}

.ellipsis-text {
    display: block;
    height: 1.5em;
    margin-bottom: 0;
    margin-top: -1.5em;
    position: relative;
    width: 100%;
    z-index: 2;
}
/*.ellipsis-text {
background: -moz-linear-gradient(top, rgba(248,248,248,0) 0%, #f8f8f8 80%, #f8f8f8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(248,248,248,0)), color-stop(80%, #f8f8f8), color-stop(100%, #f8f8f8));
background: -webkit-linear-gradient(top, rgba(248,248,248,0) 0%, #f8f8f8 80%, #f8f8f8 100%);
background: -o-linear-gradient(top, rgba(248,248,248,0) 0%, #f8f8f8 80%, #f8f8f8 100%);
background: -ms-linear-gradient(top, rgba(248,248,248,0) 0%, #f8f8f8 80%, #f8f8f8 100%);
background: linear-gradient(to bottom, rgba(248,248,248,0) 0%, #f8f8f8 80%, #f8f8f8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}*/

.ellipsis-text {
    background: black;
}

/************FIN_ARTICLES*************/

/*******************************/
/*          Pagination         */
/*******************************/

.pagination,
.post-nav,
.pager{
    width:100%;
}

.pager li > a,.pager li > a:focus, .pager li > span {
    padding: 0!important;
    width: 11%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    background-color: #2b425c;
    color:white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.pager li > a:hover,.pager li .active, .pager li > span {
    background-color: #e02126;
    color:white;
}

.pager li .active{
    font-weight: bold;
}

/*********FIN-PAGINATION********/

/*******************************/
/*           Sidebar           */
/*******************************/
.sidebar h1{
    font-size:1.4em;
    color:#e02126;
    font-weight: 600;
}

.round{
    border-radius:1000px;
}

.border-red{
    border:3px solid #e02126;
}

.devise{
    font-weight: 400;
    text-align:center;
    margin-top:20px;
}

.parrain{
    max-height: 180px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:768px){
    .devise{
        margin-top:30px;
    }
}

.parrain_container{
    margin-bottom: 10px;
}

.bouton_sidebar{
    height:50px;
    background-color:#2b425c;
    width:100%;
    line-height: 50px;
}

.bouton_sidebar img{
    height: 45px;
    float: right;
    margin-top: 3px;
}

.bouton_sidebar span{
    color:white;
    font-size: 1em;
}

.bouton_sidebar_{
    height: 50px;
    background-color: #e02126;
    margin-top:10px;
    text-align: center;
    color: white;
    font-size: 13px;
}

.bouton_sidebar_:hover{
    filter: contrast(200%);
}

.wysija-paragraph{
    width:50%;
    display: table-cell;
    padding: 5px;
}

.wysija-paragraph{
    width:50%;
    display: table-cell;
    padding: 0px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.wysija-paragraph:nth-child(2){
    padding-right: 0;
}

/* Newsletter */
.widget_wysija input[name="wysija[user][email]"],.widget_wysija input[name="wysija[user][firstname]"] {
    width: 100%;
    padding:6px 12px 6px 12px;
    border: 2px solid #2b425c;
    border-radius: 3px;
    display: inline-block;
}

.wysija-submit-field {
    background-color: #e02126;
    margin:0;
    color:white;
    margin-top: 0px!important;
    /*margin-left: 5px;*/
    padding:6px 12px 6px 12px;
    border: none;
    margin-bottom: 10px;
    width: 100%;
    border-radius:3px;
}

.fb{
    background-color: #3B5998;
}

.tw{
    background-color: #4099FF;
}

.rss{
    background-color: #FF6600;
}

.partenaire{
    margin-left:5px!important;
    margin-right: 5px!important;
}
/************FIN_SIDEBAR*************/

/*******************************/
/*           Footer           */
/*******************************/

#black-footer{
    height: 40px;
    line-height: 40px;
    width: 100%;
    background: black;
    text-align: center;
}

#black-footer a{
    color:white !important;
    text-decoration: none;
    border-right: 2px solid white;
    padding-left: 20px;
    padding-right: 20px;
}

#last-link-footer{
    border:0!important;
}

#black-footer a:hover{
    color:#e02126!important;
}


#white-footer{
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding:2px 0px;
}

@media screen and (max-width:992px){
    #black-footer a{
        font-size: 15px;
        padding-left: 8px;
        padding-right: 8px;
    }
    .disp{
        display: none;
    }

    #last-link-footer-disp{
        border:0!important;
    }

}

/************FIN_FOOTER**********/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheetdiv {
    display: block;
}
.ak-main-container {
    margin-top: 0px;
    padding-top: 0px;
}
.ak-main-container {
    margin-top: 0px;
    padding-top: 0px;
}
@media (min-width: 768px)
    .container {
        width: auto;
    }
.container {
    min-width: 320px;
    max-width: 1170px;
    padding: 0 0 0 0;
    position: relative;
}
@media (min-width: 1200px)
    .container {
        width: 1170px;
    }
@media (min-width: 992px)
    .container {
        width: 970px;
    }
@media (min-width: 768px)
    .container {
        width: 750px;
    }
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 6px;
    padding-right: 6px;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ak-main-container .ak-main-page {
    padding-top: 0;
}
.container .ak-main-page {
    background: none repeat scroll 0 0 rgba(255,255,255,0.3);
}
.container .ak-main-page {
    min-height: 450px;
    padding: 12px 12px 12px 12px;
    background: none repeat scroll 0 0 rgba(255,255,255,0.3);
}
.row {
    margin-left: -6px;
    margin-right: -6px;
}
@media (min-width: 992px)
    .container .main {
        padding-bottom: 0;
    }
.container .main {
    vertical-align: top;
}
@media (min-width: 992px)
    .col-md-9 {
        width: 75%;
    }
@media (min-width: 992px)
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 6px;
    padding-right: 6px;
}
.ak-item-list {
    padding: 0;
}
.ak-grid-padding {
    padding: 12px;
}
.row {
    margin-left: -6px;
    margin-right: -6px;
}
@media (min-width: 768px)
    .col-sm-6 {
        width: 50%;
    }
@media (min-width: 768px)
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
.ak-main-container .ak-universe-key-plus-dofus {
    background-color: #383737;
}
.ak-item-list .ak-item-elt, .ak-item-list .ak-item-elt-tiny {
    border-top-color: #b1ac9c;
}
.ak-item-list .ak-item-elt {
    padding: 0;
    position: relative;
}
.ak-item-list .ak-item-elt .ak-item-elt-content, .ak-item-list .ak-item-elt-tiny .ak-item-elt-content, .ak-item-list .ak-item-elt .ak-item-elt-content:hover, .ak-item-list .ak-item-elt-tiny .ak-item-elt-content:hover {
    background: #f3f2ed;
    border-radius: 5px;
  border: 1px solid #5F5E5E;
  -moz-box-shadow: 0px 0px 7px 0px #656565;
  -webkit-box-shadow: 0px 0px 7px 0px #656565;
  -o-box-shadow: 0px 0px 7px 0px #656565;
  box-shadow: 0px 0px 5px 0px #656565;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=7);

}
.ak-item-list .ak-item-elt-content {
    background: #f3f2ed;
}
.ak-item-list .ak-item-elt-content {
    position: relative;
}
.ak-item-list .ak-item-elt-content {
    margin: 0;
    margin-top: 12px;
    margin-top: 1.2rem;
    transition: all 0.1s;
}
.ak-item-list .ak-item-elt .ak-link-img, .ak-item-list .ak-item-elt .ak-widget-video {
    border-bottom-color: #97A800;
}
.ak-item-list .ak-link-img, .ak-item-list .ak-widget-video {
    border-bottom: 4px solid;
    display: block;
    position: relative;
    z-index: 1;
}

@media (min-width: 768px)
    .ak-item-list .col-sm-6 .ak-item-elt-inner {
        height: 210px;
        overflow: hidden;
    }
.ak-item-list .ak-item-elt-inner {
    background: #f3f2ed;
}
.ak-item-list .ak-item-elt-title {
    background: #ffffff;
}
.ak-item-list .ak-item-elt-title {
    font-size: 26px;
    font-size: 2.6rem;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    position: relative;
}
.ak-item-list .ak-item-elt-title>a {
    padding: 6px;
}
.ak-item-list .ak-item-elt-title img {
    width: 53px;
    height: 53px;
    margin-top: -1px;
}
.ak-item-list .ak-item-elt-title .ak-text {
    padding: 5px;
    padding: 0.5rem;
    display: table-cell;
    font-weight: normal;
    line-height: 1.2em;
    position: relative;
    vertical-align: top;
    z-index: 2;
}
.ak-item-list .ak-item-elt-title a {
    font-family: "bebas_neueregular";
    display: table-cell;
    display: table-cell;
    overflow: hidden;
    text-decoration: none;
    font-size:25px;
}

@media screen and (max-width:1200px){
    .ak-item-list .ak-item-elt-title a {
        font-size:20px;
    }
}

@media screen and (max-width:992px){
    .ak-item-list .ak-item-elt-title a {
        font-size:25px;
    }
}

.ak-item-list .ak-item-elt-title .ak-text .ak-publication {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 20px;
    line-height: 2rem;
    display: block;
    font-family: "Helvetica",sans-serif;
    padding: 0;
    text-transform: none;
}
.ak-item-list .ak-publication span, .ak-item-list .ak-publication a {
    color: #aab700;
}
.ak-item-list .ak-item-elt-title .ak-text .ak-publication a {
    display: inline;
}
.ak-item-list .ak-publication span, .ak-item-list .ak-publication a {
    color: #aab700;
}
.ak-item-list .ak-item-elt-title a {
    color: #422f14;
    height: 63px;
    vertical-align: middle;
}
.ak-item-list .ak-item-elt-title .ak-text .ak-publication {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 2rem;
    display: block;
    font-family: "Helvetica",sans-serif;
    padding: 0;
    text-transform: none;
    font-weight: bold;
}
.ak-item-list .ak-item-elt-title {
    background: #ffffff;
}
.ak-item-list .ak-item-elt-title {
    font-size: 26px;
    font-size: 2.6rem;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    position: relative;
}
.ak-item-list .ak-item-elt-desc {
    border-top: 1px dashed #b1ac9c;
}
.ak-item-list .ak-item-elt-desc {
    padding: 12px;
    position: relative;
    height: 100px;
}
.ak-item-list .ak-item-elt-desc strong {
    color: #362712;
}
b, strong {
    font-weight: bold;
}
@media (min-width: 768px)
    .ak-item-list .col-sm-6 .ak-item-elt-inner {
        height: 210px;
        overflow: hidden;
    }
.ak-item-list .ak-item-elt-inner {
    background: #f3f2ed;
}
@media (min-width: 768px)
    .ak-item-list .col-sm-6 .ak-ellipsis-text {
        display: block;
        height: 1.5em;
        margin-bottom: 0;
        margin-top: -1.5em;
        position: relative;
        width: 100%;
        z-index: 2;
    }
.ak-item-list .ak-ellipsis-text {
    background: -moz-linear-gradient(top, rgba(248,248,248,0) 0%, #f8f8f8 80%, #f8f8f8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(248,248,248,0)), color-stop(80%, #f8f8f8), color-stop(100%, #f8f8f8));
    background: -webkit-linear-gradient(top, rgba(248,248,248,0) 0%, #f8f8f8 80%, #f8f8f8 100%);
    background: -o-linear-gradient(top, rgba(248,248,248,0) 0%, #f8f8f8 80%, #f8f8f8 100%);
    background: -ms-linear-gradient(top, rgba(248,248,248,0) 0%, #f8f8f8 80%, #f8f8f8 100%);
    background: linear-gradient(to bottom, rgba(248,248,248,0) 0%, #f8f8f8 80%, #f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
.ak-item-list .ak-ellipsis-text {
    display: none;
}
.ak-item-list .ak-bottom {
    border-top-color: #dddac8;
}
.ak-item-list .ak-bottom {
    border-top: 1px solid;
    overflow: hidden;
    position: relative;
}
.ak-item-list .ak-share, .ak-item-list .ak-comments {
    position: relative;
    z-index: 2;
}
.ak-item-list .ak-comments, .ak-item-list .ak-share {
    font-size: 23px;
    font-size: 2.3rem;
    border-bottom: medium none;
    display: block;
    font-weight: normal;
    height: 29px;
    padding: 0 10px 0;
    text-align: center;
}
.pull-left {
    float: left;
}
.pull-left {
    float: left !important;
}
.ak-item-list .ak-comments a {
    color: #aab700;
}
.ak-item-list .ak-comments svg, .ak-item-list .ak-share svg {
    background-size: 20px auto;
}
.ak-item-list .ak-share svg, .ak-item-list .ak-comments svg {
    width: 13px;
    height: 13px;
    display: inline-block;
}
svg:not(:root) {
    overflow: hidden;
}
.ak-item-list .ak-comments svg path, .ak-item-list .ak-share svg path {
    fill: #848e02;
}
.ak-item-list .ak-comments span, .ak-item-list .ak-share span {
    color: #848e02;
}
.ak-item-list .ak-share span, .ak-item-list .ak-comments span {
    font-size: 15px;
    font-size: 1.5rem;
    display: inline-block;
    font-weight: normal;
    line-height: 1.2em;
    position: relative;
    top: -2px;
}
.ak-item-list .ak-comments span {
    padding-right: 0.5em;
}
.ak-item-list .ak-comments a {
    color: #aab700;
}
.ak-item-list .ak-bottom .ak-bottom-infos {
    border-left-color: #dddac8;
}
.ak-item-list .ak-bottom .ak-bottom-infos {
    font-size: 13px;
    font-size: 1.3rem;
    padding-left: 8px;
    padding-left: 0.8rem;
    line-height: 32px;
    line-height: 3.2rem;
    border-left: 1px solid;
    height: 32px;
    position: relative;
    z-index: 2;
}
.ak-item-list .ak-bottom {
    border-top-color: #dddac8;
}
.ak-item-list .ak-bottom {
    border-top: 1px solid;
    overflow: hidden;
    position: relative;
}
